.upcoming-classes > div > div {
  height: 61vh;
  overflow-x: hidden;
}
.upcoming-classes > h1 {
  font-style: 1.5rem;
}
.upcoming-classes > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}
.upcoming-classes {
  width: auto;
  /* max-width: 700px; */
}
